@import "utils.scss";

.btn {
  border: none;
  border-radius: 5px;

  background-color: $primary-color;
  color: #fff;

  padding: 2rem 1rem;

  font-size: 2rem;

  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    background-color: $secondary-color;
    color: #000;

    cursor: pointer;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 99;
  background-color: rgba(196, 196, 196, 0.4);
}
