///////// layout

$laptop: 144rem;

////////// color

$primary-color: #901c1c;
$secondary-color: #d3573c;
$first-background: #525252;
$second-background: #fafafa;

/////////// mixin

// flex

@mixin flex--full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-container($gap) {
  display: flex;
  align-items: center;
  gap: $gap;
}

// user

@mixin user-img {
  width: 16.6rem;
  height: 16.6rem;
  object-fit: cover;
  border-radius: 50%;
}

@mixin user-name {
  color: $secondary-color;
}

@mixin user-city {
  color: $primary-color;
}

@mixin main-box--style {
  @include flex--full-center;
  border: none;
  border-radius: 5px;

  width: 13.8rem;

  background-color: $primary-color;
  color: #fff;

  padding: 2rem 0;

  font-size: 2rem;

  transition: all 0.3s ease-in-out;
}

@mixin reset-btn{
  border: none;

  background-color: transparent;
}

// hidden

.hidden {
  display: none;
}



